@import url('sanitize.css');
@import url('@fontsource/inter/index.css');
@import url('alwan/dist/css/alwan.min.css');
@import url('../lib/water.css');
@import url('../lib/slider/slider.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

.alwan {
  margin: 0 auto;
  border: none;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;

  margin: 0;
  padding: 2rem;

  text-align: center;

  & > #input_tools,
  & > #output_tools {
    width: calc(50% - 0.5rem);
  }

  & .column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  & .row {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    min-width: 380px;
  }

  & button {
    cursor: pointer;
  }

  & .output_tools--action {
    gap: 0.5rem;

    & > button {
      display: block;
      width: 100%;
    }

    & .output_display {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      outline: none;
    }
  }
}

/*
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #0f0f0f;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  background-color: #f6f6f6;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;

  margin: 0;
  padding: 2rem;

  text-align: center;

  & > #input_tools,
  & > #output_tools {
    width: calc(50% - 0.5rem);
  }

  & .column {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }

  & .row {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    min-width: 380px;
  }

  & input,
  button {
    padding: 0.5rem 1rem;

    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    color: #0f0f0f;

    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: 0 2px 2px rgb(0 0 0 / 20%);

    transition: border-color 0.25s;
  }

  & button {
    cursor: pointer;

    &:hover {
      border-color: #396cd8;
    }

    &:active {
      background-color: #e8e8e8;
      border-color: #396cd8;
    }

    & > svg {
      & > path {
        fill: #f6f6f6;
      }
    }
  }

  & .output_tools--action {
    gap: 0.5rem;

    & > button {
      display: block;
      width: 100%;
    }

    & .output_display {
      padding: 0.5rem 1rem;

      background-color: #000;
      border: 1px solid transparent;
      border-radius: 0.5rem;
      outline: none;
      box-shadow: 0 2px 2px rgb(0 0 0 / 20%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #2f2f2f;
  }

  main {
    & input,
    button {
      color: #fff;
      background-color: #0f0f0f98;
    }

    & button {
      &:active {
        background-color: #0f0f0f69;
      }

      & > svg {
        & > path {
          fill: #f6f6f6;
        }
      }
    }
  }
}

.alwan {
  margin: 0 auto;
  border: none;
} */
