@import url('sanitize.css');
@import url('@fontsource/inter/index.css');
@import url('alwan/dist/css/alwan.min.css');

:root {
  --font-family: 'Inter', 'Avenir', 'Helvetica', 'Arial', sans-serif;
  --md-filled-tonal-button-label-text-font: var(--font-family);
  --md-sys-color-primary: #006A6A;
  --md-sys-color-outline: #6F7979;
  --md-sys-color-secondary-container: #CCE8E7;
  --md-sys-color-on-secondary-container: #051F1F;
  --md-filled-tonal-button-container-shape: 4px;
}

html, body {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

button {
  cursor: pointer;
}

main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  justify-content: center;

  margin: 0;
  padding: 2rem;

  text-align: center;

  & > #input_tools,
  & > #output_tools {
    width: calc(50% - 0.5rem);
  }

  & .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & .row {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    min-width: 380px;
  }

  & .alwan.alwan--open {
    margin: 0 auto 3rem;
    border: none;
  }

  & .output_tools--action {
    gap: 0.5rem;

    & > button {
      display: block;
      width: 100%;
    }

    & .output_display {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      outline: none;
    }
  }

  /* & #dl_label {

  } */
}
